#DBTYPE=mysql
#DBHOST=kist
#DBUSER=queryuser
#DBPASSWORD=secret
#DB=querydb

DBTYPE=psql
DBHOST=kist
DBUSER=queryuser
DBPASSWORD=secret
DB=querydb


#DBTYPE=db2
#DBUSER=db2inst1
#DBPASSWORD=secret123
#DB=querydb


EXPDIR=export

#MONGOURI="mongodb://dbAdmin:secret@kist/querydb"
MONGOURI="mongodb://dbOwner:secret@kist/querydb"
#MONGOURI="mongodb://importUser:secret@kist/querydb"
MONGODB=querydb
